@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    font-family:'Be Vietnam Pro', sans-serif;;
    font-size: 62.5%;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 40px 15px;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2.3rem;
}

h3{
    display: inline;
    font-size: 1.1rem;
}

p{
    font-size: 1.2rem;
}

span{
    font-size: 1.1rem;
   
}

li{
    font-size: 1rem;
    padding: 3px;
}

ul{
    list-style: none;
}

button{
    background-color: orangered;
    font-size: 1rem;
    border-radius: 1rem;
    color: aliceblue;
    padding: 10px;

}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;


    text-align: center;
    padding: 10px;

}

.banner img{
    width: 90%;
}

.different{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.funcionalidades{
    background-color: whitesmoke;
}

.titulito{
    width: 100%;
  
}


.titulito span{
    background-color: orange;
    border-radius: 1rem;
    padding: 5px 13px;
}

.titulito h3{
 
    padding: 5px;
    
    width: 60%;
 
    
}

.simplify{
    background-color: orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

footer{
    background-color: rgba(51, 48, 48, 0.76);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.listas{
    display: flex;
    flex-direction: row;
    

}