@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --main-color: #232C50;
    --secondary-color:#F3603C;
    --black-color:#1E1E26;
  }

body{
    font-family:'Be Vietnam Pro', sans-serif;;
    font-size: 62.5%;
    color: var(--main-color);
}

a{
    text-decoration: none;
    font-size: 1.5rem;
    margin: 1.5rem;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 40px 3rem;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2.3rem;
}

h3{
    display: inline;
    font-size: 1.1rem;
}

p{
    font-size: 1.2rem;
}

span{
    font-size: 1.1rem;
   
}

li{
    font-size: 1.3rem;
    padding: 1rem;
}

ul{
    list-style: none;
}

button{
    background-color: var(--secondary-color);
    font-size: 1rem;
    border-radius: 2.5rem;
    color: aliceblue;
    padding: 10px;
    padding-left: 3rem;
    padding-right: 3rem;

    box-shadow: 5px 5px 8px #888888;
    transition: .5s;
}

button:hover{
    transform: scale(1.05);
}

input{
    margin: 1rem;
    margin-left: 3rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    padding: 10px;
}

li{
    padding: 1rem;
}

li:hover{
    
}

nav{
    display: none;

}



.button-header{
    display: none;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;


    text-align: center;
    padding: 10px;

}

.banner img{
    width: 90%;
}

.different{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 1rem;
    
}

.funcionalidades{
   
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.titulito{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    
   
  
}


.titulito span{
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding: 5px 13px;
    position: relative;
    left: 1rem;
    color: #FAFAFA;
    

}

.titulito h3{
    padding: 5px;
    padding-left: 1rem;
    min-width: 70vw; 
    background-color: #f8e7e1;
    padding-right: 10%;
}

.p-what-is-dif{
    text-align: left;
 
    
}


.what-they-said{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.card{
    margin-top: 5rem;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #FAFAFA;
    padding: 20px;
    width: 80%;
    max-width: 500px;
}
.card img{
    display: block;
    margin: auto;
    position: relative;
    bottom: 5rem;
}

.card.otro{
    display: none;
    
}

.what-they-said button{
    margin: 4rem;
    
}

.simplify{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    padding-top: 90px;
    padding-bottom: 90px;
    color: #FAFAFA;
}

.simplify button{
    background-color: #f8e7e1;
    color: #F3603C;
    font-weight: bold;
}

footer{
    background-color: var(--black-color);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 100vw;
    overflow: hidden;
}


.listas{
    display: flex;
    flex-direction: row;
    
}




.logos-container{
    width: 100%;
    margin: auto;

    display: flex;
    justify-content: space-around;
}

.logo-icons{
   display: flex;
   flex-direction: column;
   align-content: center;
   width: 90%;

}


.logos-container img{
    width: 3rem;
}

.logo-footer{
   max-width: 18rem;
    width: 40%;
    align-self: center;
    margin: 1rem;
}

.copy-desktop{
    display: none;
}
.copy-mobile{
    font-size: 0.9rem;
    color: #8C8C94;
}

.simplify button{
    box-shadow: none;
}

form button{
    box-shadow: none;
    padding-left: 0.6rem;
    padding-right: 0.6rem;

}

input::placeholder{
    color: var(--secondary-color);
}


@media screen and (min-width:1280px)  {
  


    nav{
        display: block;
    
    }

    nav a{
        transition: 1s;
    }

    nav a:hover{
        text-decoration: underline;
    }
    
    .button-header{
        display: block;
    }

    .hamburger{
        display: none;
    }

    .banner{
        flex-direction: row-reverse;
        height: 85vh;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .banner img{
        height: 90%;
    }

    .banner div{
        padding: 8rem;
        text-align: left;
        padding: 3rem;
    }


    .different{
        flex-direction: row;
        align-items: flex-start;
    }

    .what-is-different{
        padding: 8rem;
        padding-top: 1rem;
        text-align: left;
        
    }

    .funcionalidades{
        text-align: left;
        background-color: initial;
        margin: 4rem;
       
        
        
    }

    .titulito{
        align-items: center;
        justify-content: flex-start;
    }

    .titulito span{
        border-radius: 1rem;
        padding: 5px 13px;
        left: -5rem;
    }
    
    .titulito h3{
      background-color: initial;
      position: relative;
      left: -4rem;
      width: 40%;
      overflow: hidden;
      min-width: auto;
     
      
    }

    

    .card-container{
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }


    .card.otro{
        display: block;
        
    }




    .simplify{
        flex-direction: row;
        justify-content: space-around;
    }

    .simplify button{
        box-shadow: none;
    }

    footer{
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    form{
       position: relative;
       left: -3rem;
    }

    form button{
        box-shadow: none;
    }

    .copy-desktop{
        display: block;
        font-size: 0.9rem;
        margin-top: 1rem;
        color: #8C8C94;
    }
    .copy-mobile{
        display: none;
    
    }

    .logo-icons{
        width: 20%;

    }
    
    .logo-footer{
        width: 70%;
    }

    .listas{
        gap: 10rem;
    }
}